:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --blue-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --button-color: #f5f4fa;
}

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  width: 1200px;
}

.header .container {
  display: flex;
}

/* Логотип */
.nav.logo > span {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.nav.logo {
  margin: 0px 93px 0px 0px;
  padding: 24px 0px 25px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--black-color);
}
/* Строка навигации по сайту */
.nav {
  display: flex;
  color: var(--secondary-text-color);
}

.nav.link {
  display: inline-block;
  padding: 32px 0px 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav.link:hover,
.nav.link:focus {
  color: var(--blue-color);
}

.list .item:not(:last-child) {
  margin-right: 50px;
}

.list {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* Телефон и эмэйл */
.list-contact {
  align-items: center;
  margin-left: auto;
  padding: 0px;
  display: flex;
  list-style: none;
}

.list-contact .item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  padding: 32px 0px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact:hover,
.contact:focus {
  color: var(--blue-color);
}

/* Footer */
.footer {
  background-color: #2f303a;
}
.footer .container {
  height: 252px;
  padding: 60px 15px 0 15px;
}
.footer .logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--white-color);
}
.footer .logo > span {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue-color);
}
.footer .adress {
  margin-top: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--white-color);
}
.adress .list {
  display: block;
}
.adress .content:not(:last-child) {
  margin-bottom: 9px;
}
.footer .contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
