/* Cекция ГЕРОЙ */
.hero {
  background-color: #2f303a;
}

.hero .container {
  height: 600px;
}

.main.h1 {
  margin: 0px;
  padding: 200px 0 0 0;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main.button {
  margin: 30px auto auto auto;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
}

/* Секция наши преимущества */
.main.h2 {
  display: none;
}

.advantages .container {
  padding: 94px 15px 94px 15px;
}

.list-advantages:not(:last-child) {
  margin-right: 30px;
}

.main.h3 {
  margin: 0px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.list .list-item {
  display: inline-block;
  margin: 10px 0px 0px;
  width: 270px;
  height: 75px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

/* Секция чем мы занимаемся */
.work .container {
  padding: 0 15px 94px 15px;
}

.work .list {
  margin: 50px auto auto;
}

.work-list:not(:last-child) {
  margin-right: 30px;
}

.examples.h2 {
  margin: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Секция наша команда */
.team .container {
  padding: 94px 15px 94px 15px;
}

.team .list {
  margin: 50px 0 0 0;
}

.team .content:not(:last-child) {
  margin-right: 30px;
}

.our-team.h2 {
  margin: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.name {
  margin: 30px auto 10px auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.about {
  margin: 0 auto 30px auto;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;
}
